@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure Delete @Model.Name Employee</h1>
<br />
<br />
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>

    <partial name="PartialViews/DeleteDetailsPartialView" />

    <input type="submit" value="Delete" class="btn btn-danger" /> ||
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>

