@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>


    <partial name="PartialViews/CreateEditPartialView" />


    <input type="submit" value="save" class="btn btn-primary" /> ||
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}

