@model EmployeeViewModel
@inject IDepartmentRepository DepartmentRepo
@{
    var departments = new SelectList(DepartmentRepo.GetAllAsync().Result, "ID", "Name");
}
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Image"></label>
    <input class="form-control" asp-for="Image" />

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input class="form-control" asp-for="Age" />
    <span asp-validation-for="Age"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input class="form-control" asp-for="Address" />
    <span asp-validation-for="Address"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    <select class="form-control" asp-items="@departments" asp-for="DepartmentId">
        <option value="@null">---- Select Department ----</option>
    </select>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input class="form-control" asp-for="IsActive" />
    <span asp-validation-for="IsActive"></span>
</div>