@model EmployeeViewModel
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" readonly />
    <span asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input class="form-control" asp-for="Age" readonly />
    <span asp-validation-for="Age"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary" readonly />
    <span asp-validation-for="Salary"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input class="form-control" asp-for="Address" readonly />
    <span asp-validation-for="Address"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" readonly />
    <span asp-validation-for="Email"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />
    <span asp-validation-for="PhoneNumber"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input class="form-control" asp-for="HireDate" readonly />
    <span asp-validation-for="HireDate"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input class="form-control" asp-for="IsActive" readonly />
    <span asp-validation-for="IsActive"></span>
</div>